services:
  - type: web
    name: tayarti
    env: docker
    plan: free
    healthCheckPath: /healthz
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
